@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    background:#b033cc
}
header{
    padding: 20px 5% 20px 10% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}
header a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: 700;
}
nav ul {
    list-style: none;
    display: inline-flex;
    color: white;
}
nav a .activo{
    color: #deaaea;
}
nav a {
    margin-right: 20px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}
nav a:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    background-color: #deaaea;
    height: 3px;
    width: 0;
    transition: 0.5s;
}
nav a:hover::after
{
width: 100%;
}
.principal {
    height: 100vh;
    align-items: center;
}
.pagina_principal{
    max-width: 450px;
    padding: 0 10%;
}
.pagina_principal h1 {
    color: white;
    font-size: 35px;
    margin-bottom: -25px;
    max-width: 500px;
    
   
}
.pagina_principal h3 {
font-size: 25px;
color: #deaaea;
margin-bottom: -10px;

}
.pagina_principal p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
.contrata-me {
   width: 100%;
   text-align: center;
   padding-top: 35px;
}
h2 {
    width: 100%;
    font-size: 40px;
    color: white;
    text-align: center;

}
.contrata_me{
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.contrata_me a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 30px;
    background: #deaaea;
    border: 2px solid #deaaea;
    border-radius: 100px;
    font-size: 16px;
    margin-right: 16px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    color: #b033cc;
    font-weight: 600;
    position: relative;
    z-index: 1;
}
.contrata_me :nth-child(2){
    background: #b033cc;
    color: #deaaea;
}
.contrata_me :nth-child(1):hover{
    color: #deaaea;
}
 .contrata_me :nth-child(2):hover{
    color: #b033cc;
} 
.contrata_me :nth-child(2)::before{
    background: #deaaea;
    width: 0%;
}
.contrata_me :nth-child(2):hover::before{
    width: 100%;
}
.contrata_me a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #b033cc;
    border-radius: 40px;
    z-index: -1;
    transition: 0.5s;
}

.contrata_me a:hover::before {
    width: 100%;
}