@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
   
}
header{
    padding: 20px 5% 20px 10% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background: #7a0096;
}
header a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: 700;
}
nav ul {
    list-style: none;
    display: inline-flex;
    color: white;
}
nav a .activo{
    color: #ff00ff;
}
nav a {
    margin-right: 20px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}
nav a:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    background-color: #ff00ff;
    height: 3px;
    width: 0;
    transition: 0.5s;
}
nav a:hover::after
{
width: 100%;
}
.principal {
    align-items: center;
    padding-bottom: 0px;
    background: #7a0096;

}
.pagina_principal{
    max-width: 450px;
    padding: 5% 10% ;
}
.pagina_principal h1 {
    color: white;
    font-size: 35px;
    margin-bottom: -25px;
    max-width: 500px;
    
   
}
.pagina_principal h3 {
font-size: 25px;
color: #ff00ff;
margin-bottom: -10px;

}
.pagina_principal p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.contrata_me{
    width: 100%;
   background-color: #b204d8;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 20px 0 45px;
}
.contrata_me h2{
    font-size: 40px;
    color: white;
    text-align: center;
}
.contrata_me_feautures{
    display: flex;
    justify-content: center;
}
.contrata_me_feautures a {
    border: 2px solid #7a0096;
    background: #ff00ff;
    border-radius: 30px;
    color: #7a0096;
    font-size: 16px;
    margin-right: 16px;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.contrata_me a:nth-child(2){
background: transparent;
color: #ff00ff;
}
.contrata_me a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #b204d8;
    z-index: -1;
    transition: .5s;
}
.contrata_me a:nth-child(2)::before{
    background: #ff00ff;
}
.contrata_me a:hover{
    color: #ff00ff;
}
.contrata_me a:nth-child(2):hover{
    color: #7a0096;
}
.contrata_me a:hover::before {
    width: 100%;
}
.SobreMe{
    width: 100%;
    padding: 100px 10%;
    background-color: #7a0096;
}
.SobreMe_contenido{
    width: 80%;
    display: flex;
    align-items: center;
}
.SobreMe_contenido img{
    border-width: 4px 0px 0px 4px;
    border-style: solid;
    border-color: #ff00ff;
    width: 420px;
    height: 550px;
    object-fit: cover;
}
.SobreMe_texto{
    color: white;
    margin-left: 50px;
    margin-top: -45px;
}
.SobreMe_texto h2{
    font-size: 35px;
}
.SobreMe_texto h2 span{
    color: #ff00ff;
}
.SobreMe_texto p{
    line-height: 26px;
    font-size: 18px;
    margin-top: -15px;
    margin-bottom: 30px;  
}
.SobreMe_texto .contrata_me_feautures {
    display: inline-block;
}